@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --scroll-behavior: smooth;
    --font-bruno-ace-sc: "Bruno Ace SC" , "serif";
    --font-roboto: "Roboto" , "serif";
}


.project-container{
    @apply flex text-[#ffffff] bg-[#1b1b1b] justify-evenly items-center flex-col w-full h-[100vh] flex-wrap;
}