@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --scroll-behavior: smooth;
    --font-bruno-ace-sc: "Bruno Ace SC" , "serif";
    --font-roboto: "Roboto" , "serif";
}

.home-container{
    @apply flex text-[#ffffff] bg-[#1b1b1b] justify-around items-center flex-col w-full h-[100vh] flex-wrap;
}

.home-content-left{
    @apply flex flex-col justify-center items-center w-[60%] h-[100vh] flex-wrap gap-7;
}

.hello-text{
    @apply text-3xl font-thin;
}

.name-text{
    @apply text-[5.1rem] font-bold text-[#7F8CAA] font-bruno-ace-sc;
}

.full-stack-text{
    @apply text-3xl font-thin;
}

.home-content-right{
    @apply flex justify-center items-center w-[40%] h-[100vh] flex-wrap;
}

.home-content-right-img{
    @apply w-[15rem] h-[15rem] object-contain rounded-full border-1 border-[#ffffff];
    box-shadow: 0 0 8px #7F8CAA, 0 0 16px #7F8CAA, 0 0 24px #7F8CAA;
    animation: shadowPing 2s ease-in-out infinite;
}

@keyframes shadowPing {
    0%, 100% {
        box-shadow: 0 0 8px #7F8CAA, 0 0 16px #7F8CAA, 0 0 24px #7F8CAA;
    }
    50% {
        box-shadow: 0 0 16px #7F8CAA, 0 0 32px #7F8CAA, 0 0 48px #7F8CAA;
    }
}

.social-media-container{
    @apply flex justify-center items-center;
}

.social-media-icon{
    @apply w-[2.5rem] h-[2.5rem] object-contain rounded-full hover:scale-110 
    transition-all duration-500 ease-in-out;
}

.arrow-down-container{
    @apply fixed bottom-5 gap-10 left-1/2 transform -translate-x-1/2 flex justify-center items-center
    animate-bounce transition-opacity duration-300 ease-in-out;
}

.arrow-down-icon{
    @apply w-[3rem] h-[3rem] object-contain rounded-full hover:scale-110 hover:translate-y-[-2px] 
    transition-all duration-500 ease-in-out hover:bg-[#000000];
}

.arrow-down-icon:hover {
    box-shadow: 0 0 3px #7F8CAA, 0 0 6px #7F8CAA, 0 0 9px #7F8CAA;
}

