@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --scroll-behavior: smooth;
    --font-bruno-ace-sc: "Bruno Ace SC" , "serif";
    --font-roboto: "Roboto" , "serif";
}

.footer-container{
    @apply flex text-[#ffffff] bg-[#000000] justify-evenly items-center flex-col w-full h-[5vh] 
    flex-wrap text-center text-sm font-thin font-roboto;
}

/* Mobile and Tablet Responsive Styles */
@media (max-width: 768px) {
    .footer-container {
        @apply h-auto p-4 text-xs;
    }
}